/* CSS FOR THE GAME */

/* Get rid of scroll bar */
html{
    overflow-x: hidden!important;
}

body{
    background: url('../img/bg.png');
    background-size: cover;
}

.mg-center{
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

#game{
    width: 60vw;
    height: 50vh;
    border: 1px solid black;
}

#scoreboard{
    color: white!important;
    width: 3vw;
    height: 4vh;
    position: absolute;
    top: 10vh;
}

/*#ground{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 10vh;
    background: url('../img/ground.png');
    
    background-repeat: repeat-x;
    top: 32.5vh;
}*/

#character{
    width: 4vw;
    height: 10vh;
    background-color: green;
    position: relative;
    background: url('../img/run.gif'); 
    background-size: cover;
    /* game height - char height => update to SCSS and we can compute this */
    top: 40vh;   
}

.animate-char{
    animation: jump 1s linear;
}

#obstacle{
    height: 5vh;
    width: 3vw;
    background: url('../img/monster.gif'); 
    background-size: cover;
    position: relative;
    top: 35vh;
    left: 57vw;
}

.block{
    animation: block 1.5s infinite linear;
}

.mainCol{
    margin-top: 10vh;
    font-family: 'Orbitron', sans-serif;
}

/* ANIMATIONS */

@keyframes block{
    0%{left:57vw;}
    100%{left:0vw;}
}


@keyframes jump{
    0%{top: 40vh;}
    30%{top: 34vh;}
    70%{top: 34vh;}
    100%{top: 40vh;}
}